/* touch-friendly button */
button {
    padding: 10px 20px;
    font-size: 16px;
}

.arrow-icon {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 40px solid red; /* You can change the color */
    transform-origin: bottom center;
}

#map {
    height: 400px;
  }
