html {
    font-family: Arial, Helvetica, sans-serif;
}

/* touch-friendly button */
button, select, label, input {
    padding: 10px 20px;
    font-size: 16px;
}

.arrow-icon {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 40px solid red; /* You can change the color */
    transform-origin: bottom center;
}

#map {
    height: 400px;
}

#recentCalloutsArea {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

/* display map + recent callouts side-by-side on sufficiently wide screens */
@media (min-width: 800px) {
    #map {
        width: 60%;
        display: inline-block;
    }
    #recentCalloutsArea {
        width: 38%;
        display: inline-block;
    }
}

#recentCalloutsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#recentCalloutsList li {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#recentCalloutsArea button {
    padding: 0;
}

#recentCalloutsArea p {
    height: 20px;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
